body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
  background-color: #555555;
  text-align: center;
}

outOfStockClass {
  background: #721313;
  border-color: #460000;
}